
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/config/packages/doctrine.yaml
/var/
/vendor/
###< symfony/framework-bundle ###
.env
