#wordle-sidebar {
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #eff3f4;
}

.wordle-grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
}

.wordle-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.tile {
    aspect-ratio: 1;
    border: 2px solid #d3d6da;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* Colores de estado */
.tile.correct {
    background-color: #6aaa64;
    color: white;
    border-color: #6aaa64;
}

.tile.present {
    background-color: #c9b458;
    color: white;
    border-color: #c9b458;
}

.tile.absent {
    background-color: #787c7e;
    color: white;
    border-color: #787c7e;
}